{
    "presets": [
      [
        "@babel/preset-env",
        {
          "useBuiltIns": "usage",
          "targets": ["chrome > 88"],
          "corejs": "3.2",
          "include": [ "proposal-optional-chaining", "proposal-nullish-coalescing-operator"]
        }
      ]
    ],
    "plugins": [
      [
        "@babel/plugin-proposal-class-properties",
        {
          "loose": true
        }
      ]
    ]
  }